.btn {
  background-color: #ffffff;
  border: 1px solid #071c45;
  border-radius: 8px;
  box-sizing: border-box;
  color: #071c45;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 24px auto;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow;
}

.btn:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.btn:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}

.btn:focus-visible {
  box-shadow: #071c45 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.container {
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 8px;
}

img {
  height: 200px;
  object-fit: cover;
  transition: all 0.25s ease-in-out;
  width: 400px;
}

img:hover {
  transform: scale(1.1);
}