body {
  background-color: #a7bad2;
  margin: 0;
  padding: 0;
}

header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.no-scroll {
  overflow-y: hidden;
}

* {
  font-family: "Barlow", sans-serif;
  font-style: italic;
  font-weight: bold;
}